.linktree {
    
    
}

#profile-section {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile_img {
    padding-top: 0px;
    width: 88px;
    height: 88px;
    border-radius: 275px;
}

text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #101828;
}

#slack {
    display: none;
}

#link-section {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

button {
    background: #F4F5F7;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 24px 32px;
    gap: 8px;

    width: 1152px;
    height: 76px;
}

a {
    text-decoration: none; 
}

@media screen and (max-width: 768px) {
    button {
      width: 343px;
      height: 68px;
    }
}
